<!DOCTYPE html>
<html>
    <head>
        <title>weather</title>
        <link rel='icon' href='/img/weather.png'>
        <link rel='stylesheet' href='/css/styles.css'>
        <script src='/script/t01.js'></script>

    </head>
    <body>
        <div class='main'>
            {{>header}}
            <p>welcome to check the weather </p>
        </div>
        {{>footer}}
        
    </body>
</html>