body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
}

header {
    color: burlywood;
    margin-bottom: 16px;
}

footer {
    color: burlywood;
    margin-top: 16px;
}

header a {
    text-decoration: none;
}

.portrait {
    width: 250px;
}